networks:
  app_network:
    driver: bridge

services:

  app:
    build: 
      context: ./src
      dockerfile: Dockerfile
    image: fabricioveronez/encontros-tech-labs:v1
    container_name: encontros-tech-app
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-encontros_tech}:${POSTGRES_PASSWORD:-encontros_tech}@db:5432/${POSTGRES_DB:-encontros_tech}
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: encontros-tech-db
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-encontros_tech}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-encontros_tech}
      - POSTGRES_DB=${POSTGRES_DB:-encontros_tech}
    ports:
      - "5432:5432"
    networks:
      - app_network      
    volumes:
      - ./.postgres-data:/var/lib/postgresql/data
